html {
    font-size: 60%; /* 16px x 62.5 = 10px = 1rem */
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    font-size: 1.8rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #root {
    height: 100%;
  }
  
  /* Layout */
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
      grid-template-columns: auto;
      grid-template-rows: 2rem 1fr 5rem;
    height: 100%;
  
  }
  header {
    height: max-content;
    grid-area: header;
    background-color: #203040;
  }
  main {
    grid-area: main;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  footer {
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
  }
  
  
  /* Common */
  h1 {
    font-size: 1.6rem;
    padding: 0.5rem 0;
  }
  h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: #ff8000;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    margin-top: 1rem;
  }
  input,
  select,
  textarea,
  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.4rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  button {
    background-color: #f8f8f8;
    cursor: pointer;
  }
  input:hover,
  select:hover,
  textarea:hover,
  button:hover {
    border: 0.1rem #404040 solid;
  }
  button.primary {
    background-color: #f0c040;
  }
  button.block {
    width: 100%;
  }
  button.small {
    font-size: 1.2rem;
  }
  /* Header */
  header a {
    color: #ffffff;
    padding: 0.5rem;
  }
  a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
  }
  .badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.3rem;
    margin-left: 0.2rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .row.center {
    justify-content: center;
  }
  .row.top {
    align-items: flex-start;
  }
  .row.start {
    justify-content: flex-start;
  }
  .col-1 {
    flex: 1 1 25rem;
  }
  .col-2 {
    flex: 2 1 50rem;
  }
  .col-3 {
    flex: 32 1 75rem;
  }
  .min-30 {
    min-width: 30rem;
  }
  .p-1 {
    padding: 0.5rem;
  }
  /* Aside */
  aside {
    position: fixed;
    width: 30rem;
    height: 100%;
    background-color: #efefef;
    z-index: 1000;
    transform: translateX(-30rem);
    transition: all 0.5s;
  }
  aside.open {
    transform: translateX(0);
  }
  button.open-sidebar {
    font-size: 3rem;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5rem;
    background: none;
    color: #ffffff;
    cursor: pointer;
  }
  button.open-sidebar:hover {
    border-color: #ffffff;
  }
  aside ul {
    padding: 0;
    list-style: none;
  }
  aside li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  button.close-sidebar {
    padding: 0.3rem 0.8rem;
  }
  
  /* Image */
  img {
    border-radius: 0.5rem;
  }
  img.small {
    max-width: 5rem;
    width: 100%;
  }
  img.medium {
    width: 100%;
    height: 100%;
  }
  img.large {
    width: 100%;
    opacity: 0.5;
  }
  
  .imagecenter{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  
  .containerimg{
    position: relative;
  }
  
  /* Card */
  .card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 0.1rem;
    max-width: 14rem;
  }
  .card-body {
    padding: 0.5rem;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  
  .card2 {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .card2-body {
    padding: 1rem;
  }
  .card2-body > * {
    margin-bottom: 0.5rem;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  /* Rating */
  .rating span {
    color: #f0c040;
    margin: 0.1rem;
  }
  .rating span:last-child {
    color: #404040;
  }
  /* Alert */
  .loading {
    display: block !important;
  }
  .success {
    color: #20a020;
  }
  .danger {
    color: #a02020;
  }
  
  .waiting{
    color:burlywood;
  }
  .alert {
    padding: 0.5rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }
  .alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
  }
  .alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
  }
  .alert-success {
    color: #20a020;
    background-color: #eeffe0;
  }
  /* Form */
  .form {
    max-width: 60rem;
    margin: 0 auto;
  }
  .form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .form label {
    margin: 1rem 0;
  }
  /* Dropdown */
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 0.5rem;
    z-index: 1;
    background-color: #203040;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Checkout Steps */
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 0.5rem;
    font-weight: bold;
  }
  .checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000;
  }
  /* Table */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
  }
  .table td,
  .table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
  }
  .table button {
    margin: 0 0.2rem;
  }
  /* Carousel */
  .carousel .slide img {
    max-width: 30rem;
  }
  
  /* Search */
  .search button {
    border-radius: 0 0.5rem 0.5rem 0;
    border-right: none;
    margin-right: 0.5rem;
  }
  .search input {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    margin-left: 0.5rem;
  }
  .active {
    font-weight: bold;
  }
  
  ul.searchlist{
    display: grid;
    background-color: #eee;
    grid-template-columns: repeat(8, 1fr);
  }
  
  ul.searchlist li {
    display: inline;
    font-size: 10px;
    text-align: center;
    margin-top: -1px;
    white-space: nowrap;
    padding: 1px;
  }
  
  ul.searchlist li+li:before {
    padding: 1px;
    color: black;
    content: "/\00a0";
  }
  
  ul.searchlist li a {color: green;}
  
  @media screen and (min-width: 320px) {
    ul.searchlist {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media screen and (min-width: 360px) {
    ul.searchlist {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  @media screen and (min-width: 400px) {
    ul.searchlist {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }
  }
  
  
  @media screen and (min-width: 600px) {
    ul.searchlist {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }
  
  @media screen and (min-width: 600px) {
    ul.searchlist li{
      font-size: 12px;
    }
  }
  
  
  /* Map */
  .full-container {
    margin: -1rem;
    height: calc(100% + 2rem);
  }
  .map-input-box {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0.5rem auto;
    width: 25rem;
    height: 4rem;
    display: flex;
  }
  .map-input-box input {
    border-radius: 1rem 0 0 1rem;
    border-right: 0;
  }
  .map-input-box button {
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
  }
  /* Pagination */
  .pagination a {
    padding: 0.5rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .pagination a.active {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: darkgoldenrod;
  }
  
  /* Dashboard */
  
  .summary > li {
    border: 0.1rem #c0c0c0 solid;
    margin: 2rem;
    border-radius: 0.5rem;
    flex: 1 1 20rem;
  }
  .summary-title {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
  .summary-body {
    font-size: 3rem;
    padding: 0.5rem;
    text-align: center;
  }
  
  .summary-title.color1 {
    background-color: #f0e0e0;
  }
  .summary-title.color2 {
    background-color: #e0f0e0;
  }
  .summary-title.color3 {
    background-color: #e0e0f0;
  }
  
  
  /* about page*/
  .about div{
    display: flexbox;
    height: fit-content;
    text-align: center;
    background-color: rgba(249, 250, 244, 0.829);
    box-sizing: border-box;
    border-style: none;
    border-top: double;
    padding: 0.5rem;
  }
  
  .abouttag{
    text-shadow: 2px;
    text-align: center;
    color: green;
    font-weight: bold;
    font-variant: small-caps;
  }


  /* css for products2 */
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 5px;
    text-align: center;
  }
  
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 20.99999%;
  }

  @media screen and (max-width: 320px) {
    .responsive {
        width: 20%;
        margin: 2px 0;
      }
  }
  @media screen and (max-width: 360px) {
    .responsive {
        width: 30%;
        margin: 4px 0;
      }
  }
  
  @media screen and (max-width: 400px) {
    .responsive {
        width: 40%;
        margin: 5px 0;
      }
  }
  
  
  @media screen and (max-width: 500px) {
    .responsive {
        width: 100%;
        margin: 1px 0;
        font-size: 11px;
      }
  }
  
  @media screen and (max-width: 600px) {
    .responsive {
        width: 40%;
        margin: 3px 0;
      }
  }

  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .icon-bar {
    position: fixed;
    top: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: left;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
.headrow{
    text-align: center;
    background: rgba(0, 128, 0, 0.3);
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: blue;
    text-shadow: 0 0 2px #ff0000, 0 0 2px #0000ff;
}